@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

.ItemDetailContainer {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}


.h1class{
    font-family: 'Open Sans Condensed', sans-serif;
}